<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index example</title>
    <p>Iniciar sesion <a href="/login">Iniciar sesion</a></p>
    <p>¿No tienes cuenta? <a href="/register">Regístrate</a></p>
</head>
<body>
    
</body>
</html>