<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ACADEMY ALFREDO MUSIC PRO - Menú</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"> 
    <link rel="stylesheet" href="public/style.css">
</head>
<body>
  <header>
    <form action="/productos" method="POST">
      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre" name="nombre" placeholder="Nombre del producto" required>
  
      <label for="descripcion">Descripción:</label>
      <textarea id="descripcion" name="descripcion" placeholder="Descripción del producto" required></textarea>
  
      <label for="precio">Precio:</label>
      <input type="number" id="precio" name="precio" placeholder="Precio del producto" step="0.01" required>
  
      <label for="stock">Stock:</label>
      <input type="number" id="stock" name="stock" placeholder="Cantidad en stock" required>
  
      <label for="categoria">Categoría:</label>
      <input type="text" id="categoria" name="categoria" placeholder="Categorias" required>
      </select>
  
      <button type="submit">Registrar Producto</button>
    </form>
      <div class="submenu contacto-submenu"> 
        <a href="#">Contacto</a>
        <div class="sublinks">
          <a href="https://wa.me/message/ZYYFQA6A5WK3C1" target="_blank">Mi WhatsApp</a>
        </div>
      </div>
      <a href="#">Producto</a>
    </div>
    <a href="/" class="boton-icono">
      <i class="fas fa-right-to-bracket icono-grande"></i>
    </a>    
  </header>
</body>
</html>